<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TrackSpaceDB" 
			 connectionString="server=localhost;database=trackspace;user=root;password=dejan" 
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="MinDaysUntilCompetition" value="2" />
		<add key="MinPasswordLength" value="6" />
		<add key="MaxPasswordLength" value="40" />
		<add key="ClubCodeLength" value="3" />
		<add key="ClubNameLength" value="40" />
		<add key="UsernameLength" value="20" />
		<add key="PhoneLength" value="15"/>
		<add key="CompetitionNameLength" value="50" />
		<add key="CompetitionDescriptionLength" value="400" />
		<add key="NameSurnameLength" value="20" />
	</appSettings>
</configuration>